.info{
    text-align: left;
    vertical-align: top;
}
#char_desc{
    font-size: larger;
    text-align: left;
    vertical-align: top;
}
button{
    text-align: center;
    font-size: large;
    border-radius: 5px;
    color: rgb(226, 4, 4);
    background-color: rgba(82, 82, 82, 0.274);
}
td{
    text-align: center;
    vertical-align:top;
}
table {
    border-spacing: 15px;
}
a{
    color: white;
}
body{
    color:white;
    font-family: Arial;
    background-color:rgb(32, 32, 32);
}
.toolbar{
    text-align: center;
    border-spacing: 5px;
    vertical-align:middle;
}
hr{
    margin-left: 350px;
    margin-right: 350px;
}


