button{
    text-align: center;
    font-size: large;
    border-radius: 5px;
    color: rgb(226, 4, 4);
    background-color: rgba(82, 82, 82, 0.274);
}
td{
    align-self: center;
    align-content: center;
    text-align: center;
}
table {
    border-spacing: 15px;
}
a{
    color: white;
}
body{
    color:white;
    background-color:rgb(32, 32, 32);
}
.toolbar{
    text-align: center;
    border-spacing: 5px;
}
hr{
    margin-left: 350px;
    margin-right: 350px;
}
